.headerWrapper {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    background-color: rgba(4, 11, 24, 0.9);
    backdrop-filter: blur(3px);
    height: 9%;
    max-height: 80px;
    overflow-y: hidden;
    padding: 0 5%;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 8%;
    align-items: center;
    overflow: hidden;
}

.linkBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 5vh;
    overflow: hidden;
    margin-bottom: 1vh;
}

.icon {
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

.activeIcon {
    width: 32px;
    height: 32px;
    fill-opacity: 1;
}

.nameIcon {
    text-align: center;
    margin-top: -2px;
    font-weight: 500;
    fill-opacity: 0.5;
    color: rgba(255, 255, 255, 0.5);
}