.finance-tabs{
    min-height: 43px;
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: #14213d;
    border-radius: 12px;
    border: 1px solid rgba(19, 48, 96, 1)
}
