.refferalsCountItem {
    width: 70px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 9px;
    background: linear-gradient(181deg, rgba(0, 140, 255, 0.40) -57.62%, rgba(0, 84, 153, 0.00) 157.62%);
    backdrop-filter: blur(8.899999618530273px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firstRow {
    display: flex;
    gap: 3px;
    align-items: center;
}

.count {
    color: #FFF;
    text-align: center;
    font-family: "SF Pro Display", serif;
    font-size: 18.349px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.secondRow {
    display: flex;
    flex-direction: column;
}

.friendLabel {
    color: #FFF;
    text-align: center;
    font-family: "SFProDisplay-400", serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
}

.levelLabel {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: "SFProDisplay-400", serif;
    font-size: 8.429px;
    font-style: normal;
    line-height: normal;
}