.grant {

	margin-top: 4px;
	margin-bottom: 51px;

	& img {
		width: 100%;
        height: auto;
	}
}


//.gift {
//    display: flex;
//    align-items: center;
//    background-color: #2D4D7D;
//    margin-bottom: 20px;
//    border-radius: 12px;
//    padding: 10px;
//    gap: 10px;
//    position: relative;
//    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0) 9%, rgb(0, 102, 255) 100%);
//    background: -moz-linear-gradient(180deg, rgb(0, 0, 0) 9%, rgb(0, 102, 255) 100%);
//    background: linear-gradient(165deg, rgb(0, 0, 0) 10%, rgb(0, 102, 255) 100%);
//}
//
//.text {
//    display: flex;
//    flex-direction: column;
//    gap: 5px;
//}
//.title {
//    font-family: "SFProDisplay-700", serif;
//    font-size: 20px;
//}
//.subTitle {
//    font-family: "SFProDisplay-400", serif;
//    font-size: 9px;
//    opacity: 0.5;
//    width: 50%;
//}
//.dollar {
//    position: absolute;
//    right: 0;
//    width: 166px;
//    height: 80px;
//    bottom: 0;
//}