

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: linear-gradient(-25deg,#010206, #051024); /* Линейный градиент */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.layout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../shared/assets/images/loading/Ellipse.png');
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(100px); /* Настройка размытия */
  z-index: -1; /* Псевдоэлемент будет за содержимым */
}
