.block {
    display: flex;
    flex-direction: column;
}

.grayText {
    color: rgba(255, 255, 255, 0.50);
    text-align: left;
    font-family: "SFProDisplay-500", serif;
    font-size: 11.681px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.balanceBlock {
    border-radius: 12px;
    width: 125px;
    height: 42px;
    flex-shrink: 0;
    background: #000 url("../../../assets/images/stub/balanceBlock.svg");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}

.value {
    text-align: center;
    font-family: "SFProDisplay-500", serif;
    font-size: 17.208px;
    font-style: normal;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 51.71%, #06F 139.8%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}