html, body {
  overflow: hidden;
  height: 100%;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("../../../shared/assets/images/loading/Ellipse.png"),
  linear-gradient(-25deg, #010206, #051024);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* .btnWrapper {
  position: absolute;
  top: 82%;
  left: calc(50% - 100px);
} */

.btnNext {
  background-color: rgba(52, 133, 255, 0.4);
  backdrop-filter: blur(7px);
  display: flex;
  width: 200px;
  min-height: 70px;
  border-radius: 15px;
  border: none;
  padding-top: 19px;
  gap: 12px;
  justify-content: center;
  font-size: 26px;
  font-weight: 900;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 20%);
  -webkit-backface-visibility: hidden;
}

.title {
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 34px;
  width: 266px;
  margin-left: 20px;
  line-height: 41px;
  letter-spacing: -0.05em;
  margin-bottom: 17px;
}

.infoText {
  color: rgba(104, 121, 147, 1);
  width: 344px;
  font-size: 14px;
  flex-wrap: wrap;
  margin-left: 20px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.05em;
}
