.task-filters {
    display: flex;
    gap: 0.8rem;
    overflow-x: auto;
    padding: 10px 0 10px 5vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.task-filters::-webkit-scrollbar {
    display: none;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background: rgba(19, 48, 96, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
    transition: background-color 0.3s ease;
}

.filter-btn.active {
    background: rgba(41, 78, 139, 1);
}